<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">

	<servlet>
		<servlet-name>Products</servlet-name>
		<servlet-class>com.smarthome.servlets.ProductServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Products</servlet-name>
		<url-pattern>/products</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.smarthome.servlets.RegisterServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.smarthome.servlets.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.smarthome.servlets.LogoutServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Add to Cart</servlet-name>
		<servlet-class>com.smarthome.servlets.AddToCartServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Add to Cart</servlet-name>
		<url-pattern>/addToCart</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RemoveFromCart</servlet-name>
		<servlet-class>com.smarthome.servlets.RemoveCartServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RemoveFromCart</servlet-name>
		<url-pattern>/removeCartServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CheckoutServlet</servlet-name>
		<servlet-class>com.smarthome.servlets.CheckoutServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CheckoutServlet</servlet-name>
		<url-pattern>/checkoutServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>OrderHistoryServlet</servlet-name>
		<servlet-class>com.smarthome.servlets.OrderHistoryServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>OrderHistoryServlet</servlet-name>
		<url-pattern>/orderHistoryServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CancelOrderServlet</servlet-name>
		<servlet-class>com.smarthome.servlets.CancelOrderServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CancelOrderServlet</servlet-name>
		<url-pattern>/cancelOrderServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SubmitReviewServlet</servlet-name>
		<servlet-class>com.smarthome.servlets.SubmitReviewServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SubmitReviewServlet</servlet-name>
		<url-pattern>/submitReview</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>TrendingServlet</servlet-name>
		<servlet-class>com.smarthome.servlets.TrendingServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TrendingServlet</servlet-name>
		<url-pattern>/trendingServlet</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
</web-app>